<!DOCTYPE html>
<html>
<body>

<div class="ex1">
<center><strong><table style="height: 332px;  border-style: solid; align-items: center;
        justify-content: center;
   border-color: black;  width=608; ">

<tbody>
<tr>
<td style="width: 598px;">
<img style="text-align: center; display: block; margin-left: auto; margin-right: auto;" src="https://www.dropbox.com/s/dpwnwox65ixo88a/uni.jpg?raw=1" alt="University"   width="500" height="250" border="3" />

<h1><em><center><strong>Machine Learning Application to Glaucoma and Gender Detection:</strong></em></h1>
<h2><em><center><strong>Please upload your CSV file here</strong></em></h2>
<strong><center>Please enter RFNL csv file</strong><form action="uploader" enctype="multipart/form-data" method="POST">
<p><input name="file" type="file" /> <input type="submit" /></p>
</form><form action="uploader" enctype="multipart/form-data" method="POST">
<p><strong><center>Please enter GCL+ csv file</strong></p>
</form><form action="uploader" enctype="multipart/form-data" method="POST">
<p><input name="file" type="file" /> <input type="submit" /></p>
<p><strong><center>Please enter GCL++ csv file</strong></p>
</form><form action="uploader" enctype="multipart/form-data" method="POST">
<p><input name="file" type="file" /> <input type="submit" /></p>
<p>&nbsp;</p>
<p><strong>Note: V1.1.1</strong></p>
  </form></td>
</tr>
</tbody>
</table>
</div>
<p>&nbsp;</p>

</body>
</html>
